# Игнорировать директорию .idea 
.idea/

# Игнорировать директорию target 
target/

# Игнорировать файлы классов
*.class

# Игнорировать артефакты сборки
*.jar
*.war
*.ear

# Игнорировать файлы настроек среды разработки
*.iml

# Игнорировать файлы журналов
*.log

# Игнорировать временные файлы
*.tmp
*.temp